.hidden{
	display: none;
}

#container{
	background-color: #1b1b1b;
}

#banner{
	height: 300px;
}

.banner1{
 	color: white;
}

.banner1 p{
	margin-top: 45%;
 	font-size: 15px;
}

.banner1 h2{
	margin-top: 6%;
	font-size: 25px;
}

.button1{
	width: 96px;
	height: 30px;
	margin-top: 45%;
	background-color: #fcc219;
}

.banner2{
	height: 300px;
	background-image: url(../images/pop_band.jpg);
}

#date{
	margin-top: 3%;
	height: 300px;
}

.date1{
	height: 300px;
	background-image: url(../images/guitar.jpg);
}

.tables{
	padding-top: 3%;
	height: 300px;
	background-color: #4a4a4a;
}

.tables table{
	color: white;
}

#videoPlay1{
	width: 60%;
	height:60%;
	margin-top: 3%;
}

.tables thead{
	color: white;
}

.tables tbody{
	font-size: 10px;
}

.date3{
	color: white;
	font-size: 10px;
	line-height: 20px;
}

.date4{
	font-size: 20px;
}

.date5{
	margin-top: 5%;
}

#imagesB{
	text-align: center;
	margin-top: 5%;
}


.button2{

	width: 150px;
	height: 30px;
	background-color: #fcc219;
}

#imagesL{
	margin-top: 5%;
	color: white;
	text-align: center;
}

.imagesL1 p{
	margin-top: 5%;
}

.imagesL2 p{
margin-top: 10%;
}

.imagesL3 p{
margin-top: 10%;
}

#NEWS{
	background-color: #141414;
	color: white;
	margin-top: 10%;
}

#introduction1{
	color: white;
	background-color: #141414;
	margin-top: 5%;
}

#introduction1 img{
		border-right: 30px solid #fcc219;
}

#introduction2{
		color: white;
	background-color: #141414;
	margin-top: 3%;
}

#introduction2 img{
		border-right: 30px solid #fcc219;
}

#introduction3{
		color: white;
	background-color: #141414;
	margin-top: 3%;
}

#introduction3 img{
		border-right: 30px solid #fcc219;
}